body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #faf9f6;
}
h2 {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 30px;
}
.form_container {
  background-color: #ff6b6b;
  /* padding: 20px; */
  padding: 60px 65px 65px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  position: relative;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* display: none; */
}
.hidden {
  display: none;
}
.logo_container img {
  width: 800px;
  height: 600px;
}
.profile_icon {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.profile_icon img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

label {
  font-size: 22px;
  font-weight: 500;
}
form {
  /* padding: 50px; */
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
input {
  margin: auto;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  outline: none;
  width: 250px;
  height: 28px;
  font-size: 18px;
}
.button_wrapper {
  display: flex;
  justify-content: center;
}

button {
  margin-top: 50px;
  padding: 15px;
  width: 200px;
  border: none;
  align-items: center;
  border-radius: 30px;
  background: linear-gradient(135deg, #47e6c1, #47d0e6);
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: 500;
  font-size: 20px;
}
button:hover {
  background: linear-gradient(135deg, #3cd9b7, #3ac7d4);
}

.bg-ellipse {
  position: absolute;
  bottom: 0px;
  right: 393px;
  /* opacity: 0.1; */
  z-index: 0;
  pointer-events: none;
}
.bg-ellipse2 {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  right: 0px;
}
.bg-ellipse3 {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  top: 0px;
  right: 790px;
}
.bg-ellipse4 {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  left: 0px;
}
.bg-ellipse5 {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  top: 0px;
  left: 400px;
}
.bg-ellipse6 {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  left: 650px;
  bottom: 150px;
}
